{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "m2SetRTVar": false,
    "gMap": true,
    "M2": true,
    "_": false,
    "angular": false,
    "L": false,
    "FVC": false,
    "ngFV": false,
    "FV": false,
    "module": false,
    "define": false,
    "require": false
  }
}
